* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#contenedorFlexPrincipal {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#mostradorPrincipal {
    margin: auto;
    border: 5px solid #111;
    background-color: transparent;
    box-shadow: 0 0 10px 4px #333;
    margin: 20px;
}
#mostradorPrincipal img{
    display:block;
    width:100%;
    height: min(60vh, 600px);
    object-fit:contain;
}
.contenedorImagenes {
    background-color: #bbb;
    display: grid;
    width: 95%;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 12px;
    margin: auto;
    padding: 12px;
    border: 5px solid #111;
    box-shadow: 0 0 10px 4px #333;
    margin: 20px;
}
.imagen {
    width: 100%;
    height: auto;
    display:flex;
    align-items:center;
    justify-content:center;
}
.contenedorImagenes img{
    width:100%;
    height:100%;
    display:block;
    border-radius:6px;
}