* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
h1 {
    width: 20%;
    margin: 10px;
    font-size: 40px;
    text-align: center;
}
button {
    width: 20%;
    font-size: 30px;
    padding: 12px 30px;
    margin: 16px;
}
span {
    width: 20%;
    text-align: center;
    display: block;
    margin: 20px;
    font-size: 30px;
}